/* General Styling */
body {
    color: #fff;
    background-color: black; /* Ensuring consistent background color */
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #343a40;
    color: #ffffff;
    padding-top: 0px;
    padding-bottom: 0px;
}

.main-logo {
    height: 40px;
    margin-right: 10px;
}

.btn-primary {
    margin-left: 20px;
    background-color: #007bff; /* Primary button background color */
    border-color: #007bff; /* Primary button border color */
}

.btn-primary:hover {
    background-color: #0056b3; /* Primary button background color on hover */
    border-color: #0056b3; /* Primary button border color on hover */
}

.btn-primary:focus,
.btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5); /* Primary button shadow on focus */
}

#cart-count {
    font-size: 0.75rem;
    line-height: 1;
    padding: 0.25em 0.5em;
    color: white;
}

/* Navbar Styling */
.navbar .btn-outline-success {
    border-color: #01b3ef;
    color: #fff;
}

.navbar .btn-outline-success:hover,
.navbar .btn-outline-light:hover {
    background-color: #01b3ef;
    color: white;
    border-color: #01b3ef;
}

.navbar .btn-outline-success:active,
.navbar .btn-outline-light:active {
    background-color: #01b3ef;
    color: white;
    border-color: #01b3ef;  
}

.form-control[type="search"] + .btn-outline-success {
    --bs-btn-color: #01b3ef;
    --bs-btn-border-color: #01b3ef;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #01b3ef;
    --bs-btn-hover-border-color: #01b3ef;
    --bs-btn-focus-shadow-rgb: 25, 135, 84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #01b3ef;
    --bs-btn-active-border-color: #01b3ef;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #01b3ef;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #01b3ef;
    --bs-gradient: none;
}

/* Gradient Background */
#grad1 {
    height: 100%;
    background-image: linear-gradient(#014274, #01b3ef, #014274);
}

/* Carousel Styling */
.carousel-item {
    height: 32rem;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
    object-fit: cover;
}

/* Book Listings Section */
#books {
    padding: 50px 0;
}

#most-popular-books {
    font-size: 35px;
    margin-bottom: 50px;
}

#books-card {
    height: 700px !important;
    border: 1px solid #fff;
}

#card-title {
    height: 35px;
}

.card {
    border-radius: 10px; /* Card border radius */
    transition: all 0.3s ease-in-out; /* Smooth transition */
    width: 350px;
}

.card:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Card shadow on hover */
}

.card-img-top {
    border-top-left-radius: 10px; /* Rounded corners for top left of the image */
    border-top-right-radius: 10px; /* Rounded corners for top right of the image */
    width: 400px;
    height: 450px;
    object-fit: fill;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    color: #666; /* Text color */
    font-size: 16px;
    margin-bottom: 15px;
}

.card-link {
    text-decoration: none;
}

.card-link:hover {
    text-decoration: underline;
}

.popular-books {
    font-size: 32px;
    font-weight: 500;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto;
    color: white;
    text-align: center;
}

#footer-body {
    margin-top: 0px;
    margin-bottom: 0px;
}

/* Footer Styling */
.row-footer {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.footer-logo {
    height: 60px;
}

.dark-background {
    background-color: #212529;
}

#footer {
    background-color: #343a40;
    color: #fff;
    margin: 0;
}

.text-body-secondary, .text-body-secondary a {
    --bs-text-opacity: 1;
    color: white !important;
}

.link-body-emphasis {
    color: #fff !important;
}

footer h5 {
    color: #fff;
}

footer ul li a {
    color: #fff !important;
}

.text-body-secondary {
    --bs-text-opacity: 1;
    color: white !important; /* Override to white */
}

#footer .text-body-secondary {
    color: white !important; /* Ensure white text */
}